body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: gray;
}
.heading{
    color: black;
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.mainn{
    max-width: 80%;
    margin: auto;
    background-image: url();
    padding : 20px;
    border-radius : 8px;
    text-align : left;
    margin-bottom : 100px;
    position : relative;
    background-position : center;
    background-size : cover;
    background-repeat : no-repeat;
}

.personal{
    color: rgb(173, 41, 140);
    background-color: beige;
    text-align: center;
    padding: auto;
    font-size: x-large;
}

.forpic{
    color: darkviolet;
}

input[type="file"]{
    font-size: 16px;
    padding: 10px;
    width: 250px;
    background-color: darkgray;
    border-radius: 30px;
    margin-top: 20px;
}

input[type="file"]::file.selector-button{
    background-color: azure;
    cursor: pointer;
    font-size: large;
    color: darkgray;
    background-color: black;
    border-radius: 10px;
}

form{
    margin-bottom: 40px;
}

input,textarea{
    display: block;
    margin-bottom: 20px;
    width: 30%;
    padding: 6px;
    font-size: 14px;
    background-color: white;
    border-radius: 30px;
}